{% extends 'base.html' %}

{% block title %}
Williams Finance
{% endblock %}

{% block content %}
<h1>Finance Home</h1>

<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>This week</h1>
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Income
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Net</th>
                <th scope="col">Taxes</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for pay  in income %}
                <tr>
                <td>{{ pay.net }}</td>
                <td>{{ pay.tax }}</td>
                <td>{{ pay.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Recurring Expenses $ 1000.00
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table">
            <thead>
                <tr></tr>
                    <th scope="col">Vendor</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                    <th scope="row">{{ bill.vendor }}</th>
                    <td>{{ bill.description }}</td>
                    <td>{{ bill.amount }}</td>
                    <td>{{ bill.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
        
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Recurring Bills</h1>
        <table class="table">
            <thead>
                <tr>
                
                <th scope="col">Vendor</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                <th scope="row">{{ bill.vendor }}</th>
                <td>{{ bill.description }}</td>
                <td>{{ bill.amount }}</td>
                <td>{{ bill.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>income Table</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Net</th>
                <th scope="col">Taxes</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for pay  in income %}
                <tr>
                <th scope="row">1</th>
                <td>{{ pay.net }}</td>
                <td>{{ pay.tax }}</td>
                <td>{{ pay.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col">
        <h1>Expenses Table</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>@social</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}